/* h2l-tablist.css */

:root {
  color-scheme: light dark;
}

.h2l-tablist {
  padding: 0;
  padding-left: 6px;
  padding-right: 6px;
  font-family: var( --main-font-family);
  font-size: var( --main-font-size);
  color:  light-dark(var(--main-color-light), var(--main-color-dark));
  background-color: light-dark(var(--main-background-light), var(--main-background-dark));
}

h2 {
  font-size: var( --legend-font-size);
  margin: 0;
  padding: 0;
  margin-top: 1em;
  font-weight: bold;
}

#id-div-title {
  font-size: var( --title-font-size);
  display: block;
  height: 2.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1em;
}

[role="tablist"] {
  min-width: 100%;
}

[role="tab"] {
  display: inline-block;
  position: relative;
  z-index: 2;
  top: 0px;
  margin: 0;
  margin-top: 4px;
  padding: 3px 3px 4px;
  border-width: 2px;
  border-style: solid;
  border-bottom-width: 2px;
  border-radius: 5px 5px 0 0;
  outline: none;
  font-weight: bold;
  max-width: 8em;
  text-align: left;
  cursor: pointer;
  border-color:    light-dark(h2l-base.$border-tablist-light, h2l-base.$border-tablist-dark);
  color: light-dark(h2l-base.$color-light, h2l-base.$color-dark);
  background-color: light-dark(h2l-base.$background-tab-light, h2l-base.$background-tab-dark);
}

[role="tab"][aria-selected="true"] {
  top: 2px;
  padding: 2px 2px 3px;
  margin-top: 0;
  border-width: 2px;
  border-top-width: 6px;
  border-bottom-width: 2px;
  color: light-dark(h2l-base.$color-light, h2l-base.$color-dark);
  background-color: light-dark(h2l-base.$background-light, h2l-base.$background-dark);
  border-bottom-color: light-dark(h2l-base.$background-light, h2l-base.$background-dark);
  border-top-color: light-dark(h2l-base.$outline-color-focus-light, h2l-base.$outline-color-focus-dark);
}

[role="tab"][aria-selected="false"] {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: light-dark(h2l-base.$border-color-light, h2l-base.$border-color-dark);
}

[role="tabpanel"] {
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 0 5px 5px;
  overflow: hidden;
  border-color: light-dark(var(--tab-border-color-light), var(--tab-border-color-dark));
  background-color: light-dark(var(--main-background-light), var(--main-background-dark));
}

[role="tabpanel"].is-hidden {
  display: none;
}

footer {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

footer button {
  font-size: var(--main-font-size);
  width: 4.5em;
}

footer .first {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  vertical-align: center;
}

footer .second {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  vertical-align: center;
}

footer .third {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  vertical-align: center;
}

footer .fourth {
  grid-column-start: 4;
  grid-column-end: 5;
  text-align: center;
}
