/* h2l-sidepanel.css */

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  font-family: var( --main-font-family);
  font-size: var( --main-font-size);
}

h2l-sidepanel,
h2l-tablist,
h2l-headings-tree,
h2l-landmarks-list,
h2l-link-grid {
  margin: 0;
  padding: 0;
  display: block;
}
