/* h2l-headings-tree.css */

:root {
  color-scheme: light dark;
}

[role="tree"] {
  overflow-y: auto;
  height: 100%;
}

[role="tree"] [role="treeitem"] {
  font-family: var( --main-font-family);
  font-size: var( --main-font-size);

  display: block;
  margin: 0;
  padding: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color:  light-dark(var(--main-color-light), var(--main-color-dark));
  fill:   light-dark(var(--main-color-light), var(--main-color-dark));
  stroke: light-dark(var(--main-color-light), var(--main-color-dark));
  background-color: light-dark(var(--main-background-light), var(--main-background-dark));
}

[role="tree"] [role="treeitem"] span.no-icon,
[role="tree"] [role="treeitem"] span.expand-icon {
  display: inline-block;
  width: 20px;
}

[role="tree"] [role="treeitem"][aria-expanded="true"] + [role="group"] {
  display: block;
  animation: fadeInOut 0.6s ease-in-out;
}

[role="tree"] [role="treeitem"][aria-expanded="true"] span.expand-icon {
  position: relative;
  top: 3px;
  rotate: 90deg;
  transition: rotate ease 0.4s;
}

[role="tree"] [role="treeitem"][aria-expanded="false"] + [role="group"] {
  display: none;
  animation: fadeInOut 0.6s ease-in-out;
}

[role="tree"] [role="treeitem"][data-level="1"] { padding-left: 4px;}
[role="tree"] [role="treeitem"][data-level="2"] { padding-left: 4px;}
[role="tree"] [role="treeitem"][data-level="3"] { padding-left: 16px}
[role="tree"] [role="treeitem"][data-level="4"] { padding-left: 32px}
[role="tree"] [role="treeitem"][data-level="5"] { padding-left: 48px}
[role="tree"] [role="treeitem"][data-level="6"] { padding-left: 64px}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        display: none;
    }

    25% {
        opacity: 0.15;
        display: block;
    }

    50% {
        opacity: 0.35;
        display: block;
    }

    75% {
        opacity: 0.65;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

[role="tree"] [role="treeitem"]:hover {
  cursor: pointer;
}


