/* h2l-landmarks-list.css */

:root {
  color-scheme: light dark;
}

[role="listbox"] {
  overflow-y: auto;
  height: 100%;
}

[role="listbox"] [role="listitem"] {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);

  display: block;
  margin: 0;
  padding: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  color: light-dark(var(--main-color-light), var(--main-color-dark));
  background-color: light-dark(var(--main-background-light), var(--main-background-dark));
}

[role="listbox"] [role="listitem"]:hover {
  cursor: pointer;
}

