/* h2l-links-grid.css */

:root {
  color-scheme: light dark;
}

table[role="grid"] {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);

  display: block;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  border-collapse: collapse;
  table-layout: fixed;
  color: light-dark(var(--main-color-light), var(--main-color-dark));
  background-color: light-dark(var(--main-background-light), var(--main-background-dark));
  fill: light-dark(var(--main-color-light), var(--main-color-dark));
  stroke: light-dark(var(--main-color-light), var(--main-color-dark));
}

table[role="grid"] span.icon {
  position: relative;
  top: 2px;
  padding: 0;
  margin: 0;
  display: inline-block;
}

table[role="grid"] [aria-sort="none"] span.icon {
  display: none;
}

table[role="grid"] [aria-sort="descending"] span.icon {
  top: 0px;
  transform: rotate(180deg);
}

table[role="grid"] thead,
table[role="grid"] tbody {
  display: table;
  margin: 0;
  padding: 0;
  border: 0;
  table-layout: fixed;
  width: 98%;
}

table[role="grid"] tbody tr {
  margin: 0;
  padding: 0;
  border: 0;
}

table[role="grid"] thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: light-dark(var(--main-background-light), var(--main-background-dark));
}

table[role="grid"] tr th,
table[role="grid"] tr td {
  padding: 4px;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

table[role="grid"] tr th {
  text-align: left;
}

table[role="grid"] tr:hover {
  cursor: pointer;
}


