/* toc-dialog.css */
:root {
  color-scheme: light dark;
}

dialog::backdrop {
  background-color: light-dark(var(--main-background-light), var(--main-background-dark));
  opacity: 0.25;
}

dialog.h2l-dialog {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin: 0;
  padding: 0;
  border-width: 2px;
  border-style: solid;
  border-color: light-dark(var(--dialog-border-light), var(--dialog-border-dark));
  border-radius: 5px;
  z-index: 2000001;
  color: light-dark(var(--main-color-light), var(--main-color-dark));
  background-color: light-dark(var(--main-background-light), var(--main-background-dark));
}

dialog.h2l-dialog .header {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 4px;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: light-dark(var(--dialog-border-light), var(--dialog-border-dark));
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  color: light-dark(var(--main-color-light), var(--main-color-dark));
  background-color: light-dark(var(--main-background-light), var(--main-background-dark));
  position: relative;
  font-size: 11pt;
}

dialog.h2l-dialog .header h2 {
  margin: 0;
  padding: 0;
  font-size: 11pt;
}

dialog.h2l-dialog .header button {
  position: absolute;
  top: 0.25em;
  right: 0.125em;
  border: none;
  background: transparent;
  font-weight: bold;
  color: light-dark(var(--main-color-light), var(--main-color-dark));
}

dialog.h2l-dialog .content {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

dialog.h2l-dialog fieldset {
  margin: 0;
  margin-top: 1em;
  border: none;
}

dialog.h2l-dialog legend {
  margin: 0;
  padding: 0;
  font-size: 11pt;
  font-weight: bold;
}

dialog.h2l-dialog .text {
  margin: 0;
  margin-left: 0.25em;
  padding: 0;
  margin-bottom: 1em;
}

dialog.h2l-dialog .text label {
  margin: 0;
  padding: 0;
  display: block;
}

dialog.h2l-dialog .text .desc {
  margin: 0;
  padding: 0;
  margin-top: 0.25em;
}

dialog.h2l-dialog .grid {
  margin: 0;
  margin-bottom: 0.25em;
  padding: 0;
  display: grid;
  grid-template-columns: 25px 1fr;
}

dialog.h2l-dialog .select {
  padding: 0;
  margin: 0;
  margin-left: 0.5em;
  margin-top: 0.75em;
}

dialog.h2l-dialog .select label {
  display: inline-block;
}

dialog.h2l-dialog .select select {
  display: inline-block;
}

dialog.h2l-dialog label.grid span.label {
  display: inline-block;
}

dialog.h2l-dialog .content .desc {
  font-size: 90%;
  font-style: italic;
}

dialog.h2l-dialog .content .version,
dialog.h2l-dialog .content .copyright {
  margin-top: 0.5em;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
}

.buttons {
  display: grid;
  grid-template-columns: 40% 30% 30%;
}

.buttons button {
  margin: 1em;
}

.buttons button.first {
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  vertical-align: center;
  width: 8em;
}

.buttons button.second {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  vertical-align: center;
  width: 5em;
}

.buttons button.third {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  vertical-align: center;
  width: 5em;
}

button:hover {
  cursor: pointer;
}

