
              <section >

                <figure class="image">
                  <img  src="images/chrome-1280-800-headings.png" alt="">
                  <figcaption>Screen shot of {{projectName}} open in Chrome web browser</figcaption>
                </figure>

                <h2>Overview</h2>
                <p>The <em>{{projectName}}</em> (H2L) extension provides a <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/user_interface/Sidebars">browser side panel</a> to view  the headings, landmark regions and links on a web page.  It can be used to verify the proper use of headings and landmarks in identifying the layout and structure of a web page and testing links t see if the link text provides a good description of the target of the link.  The extension uses the the <a href="https://opena11y.github.io/evaluation-library/">OpenA11y Evaluation Library</a> to collect information the page title, headers, landmarks and links for viewing in the side panel.</p>

                <h2>Get Extension</h2>
                <ul>
                  <li>
                    <a href="https://chromewebstore.google.com/detail/toc-headings-landmarks-an/eoadlbcfkolkpigecddbdlbneekefkfa">
                      H2L for Chrome
                    </a>
                    (Also runs on
                    <a href="https://brave.com/">
                      Brave
                    </a>
                    and
                    <a href="https://vivaldi.com/">
                      Vivaldi
                    </a>
                    )
                  </li>
                  <li>
                    <a href="https://microsoftedge.microsoft.com/addons/detail/hhkaebffaohpcamjeogijpokkilabhcl">
                      H2L for Edge
                    </a>
                  </li>
                  <li>
                    <a href="https://addons.mozilla.org/en-US/firefox/addon/headings-landmarks-links/">
                      H2L for Firefox
                    </a>
                  </li>
                  <li>
                    <a href="https://opena11y.github.io/h2l-side-panel/dist/h2l-side-panel-opera-1.1.0.crx">H2L for Opera (Self-Hosted)</a>
                  </li>
                </ul>

                <h2>Features</h2>
                <ul class="internal-links">
                  <li><a href="feature-title.html">Page Title</a></li>
                  <li><a href="feature-headings.html">Headings Tab</a></li>
                  <li><a href="feature-landmarks.html">Landmarks Tab</a></li>
                  <li><a href="feature-Links.html">Links Tab</a></li>
                  <li><a href="feature-summary.html">Summary</a></li>
                  <li><a href="feature-update.html">Update Button</a></li>
                  <li><a href="options.html">Options</a></li>
                  <li><a href="export.html">Export Data</a></li>
                </ul>


              </section>

              <secti
