<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
    <style>
      main h3 {
        font-size: 125%;
      }
      #anatomy {
        margin-top: 2em;
        margin-bottom: 1em;
      }
      figure img {
        width: 90%;
        border: 2px solid #888;
      }
      figcaption {
        font-size: 150%;
        text-align: center;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <main class="container px-4">
      <div class="row gx-4 justify-content-center">
        <div class="col-lg-10">
          {% block content %}
            <figure class="image" style="width: 80%">
               <img src="./images/chrome-1280-800-headings.png"
                    alt=""
                    style="width: 100%";/>
                    <figcaption>Example Screen Shot of Table of Contents Extension</figcaption>
            </figure>

            <h1>{{title}}</h1>

            <p><em>add content here...</p>

           {% include "./feedback.njk" %}

          {% endblock %}
        </div>
      </div>
    </main>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
