<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}

    <style>
      #faq h2 {
        border-bottom: 1px solid light-dark(#444, #ccc);
      }
      #faq dl {
        margin-bottom: 2em;
      }

      #faq dt {
        background-color: light-dark(#eee, #484848);
        padding: 0.25em;
      }

      #faq dd {
        padding: 0.25em;
        margin: 0.25em;
        margin-left: .75em;
      }

    </style>
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <div id="main-section" class="container px-4">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>
      <main class="row gx-4 justify-content-center">
        <div class="col-lg-10">
          {% block title %}
          <h1>{{title}}</h1>
          {% endblock %}

          <div class="faq">

            <ul>
              <li>
                <details>
                  <summary>What are Headings?</summary>
                  <ul>
                    <li>
                      <a href="https://www.w3.org/WAI/tutorials/page-structure/headings/">Headings</a> are used to add structure to content and should describe the content in the next section or sub-section on the page.
                    </li>
                    <li>
                      There are six levels of headings (e.g. <code>h1</code>-<code>h6</code> elements) in HTML to identify sub-sections in hierarchical content.
                    </li>
                    <li>
                      Web browsers, plug-ins, and assistive technologies can use them to provide in-page navigation.
                    </li>
                   <li>
                      SkipTo.js provides a means for everyone to use keyboard navigation to navigate to headings on page.
                    </li>
                    </ul>
                </details>
              </li>
              <li>
                <details>
                  <summary>What are Landmark Regions?</summary>
                  <ul>
                    <li>
                      <a href="https://www.w3.org/WAI/ARIA/apg/practices/landmark-regions/">Landmark Regions</a> identify the major sections of a page that is usually conveyed visually with placement, spacing, color, or borders.
                    </li>
                    <li>
                       Landmark regions enable assistive technology users to perceive the start and end of each section of a web page.
                    </li>
                    <li>
                      There are eight types of landmark regions used to identify content on a page: Banner, Complementary, Contentinfo, Form, Main, Navigation, Region and Search.
                    </li>
                    <li>
                      SkipTo.js provides a means for everyone to use keyboard navigation to navigate to landmark regions on page.
                    </li>
                  </ul>
                </details>
              </li>
            </ul>

             {% include "./feedback.njk" %}

        </div>
      </main>
    </nav>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
