            <section class="feedback" aria-label="Privacy and Feedback">

              <h2 id="privacy">Privacy</h2>
             <p>{{extName}} <em>does not</em> collect or store any information about users or work with any other parties to collect or share user browsing information.</p>


              <h2 id="of-course-we-want-feedback">Feedback and Reporting Issues</h2>

              <p>We welcome your feedback!  Please do not hesitate to <a href="https://github.com/opena11y/web-page-table-of-contents/issues">raise issues and comment on Github</a> if something doesn’t work or you have ideas on how to improve {{extName}}.</p>

            </section>

