        <!-- Footer-->
        <footer class="py-5 bg-light">

            <div class="container px-4 text-center">SkipTo.js Copyright (c) 2025 Jon Gunderson; Licensed Mozilla Public License 2.0, All rights reserved</div>

            <div class="container px-4 text-center">Mozilla Public License 2.0 allows for Page Table of Contents to be freely used (e.g. no cost), copied or modified.</div>

            <div class="container px-4 text-center">Website conformance to <a href="https://www.w3.org/TR/WCAG22/">WCAG 2.2</a> requirements supported using <a href="https://ainspector.disability.illinois.edu">AInspector browser addon</a>.</div>

        </footer>


