/* toc-options-dialog.css */

dialog#id-options {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: $fontFamily;
  font-size: $fontSize;
  max-width: 70%;
  margin: 0;
  padding: 0;
  background-color: light-dark(white, black);
  color: light-dark(black, white);
  border-width: 2px;
  border-style: solid;
  border-color: light-dark(black, white);
  border-radius: 5px;
  z-index: 2000001;

}

dialog#id-options .header {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 4px;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: light-dark(black, white);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight:  bold;
  background-color: light-dark(white, black);
  color: light-dark(black, white);
  position: relative;
  font-size: 100%;
}

dialog#id-options .header h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

dialog#id-options .header button {
  position: absolute;
  top: -0.25em;
  right: 0;
  border: none;
  background: transparent;
  font-weight: bold;
  color: light-dark(black, white);
}

dialog#id-options .content {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0;
  margin-bottom: 2em;
}

dialog#id-options .content .desc {
  max-width: 20em;
}

dialog#id-options .content .version,
dialog#id-options .content .copyright {
  margin-top: 0.5em;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
}

dialog#id-options .buttons {
  float: right;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

dialog#id-options button {
  margin: 6px;
}

dialog#id-options .buttons button {
  min-width: 5em;
}

button:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

button:hover {
  cursor: pointer;
}
`;
