/* toc-base.scss */

$font-family: arial, verdana, tahoma, "trebuchet MS", sans-serif;
$font-size-content: 11pt;
$font-size-title:   12pt;
$font-size-buttons: 12pt;

// Theme colors
$color-light: #000;
$background-light: #fff;
$border-color-light: #eee;

$color-dark: #fff;
$background-dark: #000;
$border-color-dark: #444;

$border-tablist-light: #bbb;
$border-tablist-dark: #444;

$background-tab-light: #eee;
$background-tab-dark: #444;

// Focus colors

$color-focus-light: #13294b;
$background-focus-light: #ecf2fa;
$background-selected-light: #eee;
$outline-color-focus-light: #13294b;

$color-focus-dark: #ecf2fa;
$background-focus-dark: #13294b;
$background-selected-dark: #444;
$outline-color-focus-dark: #eee;

$outline-offset-focus: -2px;
$outline-width-focus: 2px;
$outline-style-focus: solid;

// Contrast theme colors (forced-colors)

// Theme colors
$color-forced: CanvasText;
$background-forced: Canvas;
$border-color-forced: ButtonBorder;
$border-tablist-forced: ButtonBorder;
$background-tab-forced: ButtonFace;

// Focus colors for contrast theme

$color-focus-forced: ButtonFace;
$background-focus-forced: ButtonFace;
$outline-color-focus-forced: ActiveText;

