/* toc-base.scss */

$font-family: arial, verdana, tahoma, "trebuchet MS", sans-serif;
$font-size-content: 11pt;
$font-size-title:   12pt;
$font-size-buttons: 12pt;

// Focus colors

$color-focus: #000;
$background-color-focus: #eee;

$outline-color-focus: activeText;
$outline-offset-focus: -2px;
$outline-width-focus: 2px;
$outline-style-focus: solid;

